html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  z-index: 1000;
}

.logo-img {
  height: 60px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li {
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover {
  color: #F6B8A8;
}

/* Hero Section FULL SCREEN */
.hero {
  height: 100vh;
  width: 100%;
  margin-top: 80px; /* space for fixed navbar */
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("https://images.unsplash.com/photo-1556911220-bff31c812dba") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.hero-content h1 {
  font-size: 55px;
  color: #F6B8A8;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 22px;
  color: #fff;
  margin-bottom: 30px;
}

.hero button {
  padding: 14px 40px;
  background: #F6B8A8;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #e8a294;
}

/* Sections */
.about,
.services,
.projects,
.contact {
  padding: 100px 120px;
  text-align: center;
}

.about p {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

/* Services */
.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.card {
  background: #fff;
  padding: 40px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 380px);
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.project-grid img {
  width: 380px;
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

.project-grid img:hover {
  transform: scale(1.05);
}

/* Contact */
.contact-btn {
  padding: 14px 40px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #F6B8A8;
}

/* Footer */
.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 25px;
}